.place__title {
  flex-basis: 46.749%;
  font-size: 4.5em;
  margin: 0;
}

@media screen and (max-width: 1279px) {
  /* от вертикального до горизонтального положения планшета */
  .place__title {
    flex-basis: 47.415%;
  }
}
@media screen and (max-width: 1023px) {
  /* от большого смартфона до вертикального положения планшета */
  .place__title {
    flex-basis: 47.22%;
    font-size: 2.625em;
  }
}
@media screen and (max-width: 767px) {
  /* мобильные устройства */
  .place__title {
    font-size: 2em;
    display: block;
    width: 95.05%;
    margin: 0 auto;
  }
}
