.photo-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1em;
}

@media screen and (max-width: 1024px) {
  /* от вертикального до горизонтального положения планшета */
  .photo-grid {
    grid-template-columns: repeat(3, 1fr);
    gap: 0.875em;
  }
}
@media screen and (max-width: 768px) {
  /* от большого смартфона до вертикального положения планшета */
  .photo-grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 1em;
  }
}
@media screen and (max-width: 320px) {
  /* мобильные устройства */
  .photo-grid {
    grid-template-columns: 1fr;
    gap: 0.75em;
  }
}
