.places {
  width: calc(100% - 48px * 2);
  max-width: 984px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  row-gap: 80px;
  padding-bottom: 92px;
}

@media screen and (max-width: 1279px) {
  /* от 1024 и до 1280 — для небольших ноутбуков */
  .places {
    max-width: 928px;
  }
}

@media screen and (max-width: 1023px) {
  /* от 768 и до 1024 пикселей — от вертикального до горизонтального положения планшета */
  .places {
    width: calc(100% - 24px * 2);
    row-gap: 73px;
    padding-bottom: 90px;
  }
}

@media screen and (max-width: 767px) {
  /* от большого смартфона до вертикального положения планшета */
  .places {
    width: calc(100% - 16px * 2);
  }
}
@media screen and (max-width: 425px) {
  .places {
    width: 100%;
    row-gap: 50px;
    padding-bottom: 66px;
  }
}
