.place__image {
  width: 46.749%;
  height: 100%;
}

@media screen and (max-width: 1279px) {
  /* от вертикального до горизонтального положения планшета */
  .place__image {
    width: 47.415%;
  }
}
@media screen and (max-width: 1023px) {
  /* от большого смартфона до вертикального положения планшета */
  .place__image {
    width: 47.22%;
  }
}
@media screen and (max-width: 767px) {
  /* мобильные устройства */
  .place__image {
    width: 100%;
  }
}
