.page__narrow-container {
  width: 984px;
  margin: 0 auto;
}

@media screen and (max-width: 1279px) {
  /* от вертикального до горизонтального положения планшета */
  .page__narrow-container {
    /* max-width: 928px; */
    width: 92.155%;
  }
}
@media screen and (max-width: 1023px) {
  /* от большого смартфона до вертикального положения планшета */
  .page__narrow-container {
    /* max-width: 720px; */
    width: 95.874%;
  }
}
@media screen and (max-width: 767px) {
  /* мобильные устройства */
  .page__narrow-container {
    /* max-width: 288px; */
    width: 100%;
  }
}
