.place__paragraphs {
  flex-basis: calc(100% - 40px - 460px);
  font-size: 1.125em;
  line-height: 1.63;
}

@media screen and (max-width: 1279px) {
  .place__paragraphs {
    flex-basis: calc(100% - 32px - 440px);
  }
}
@media screen and (max-width: 1023px) {
  .place__paragraphs {
    flex-basis: calc(100% - 28px - 340px);
    font-size: 1em;
  }
}

@media screen and (max-width: 767px) {
  .place__paragraphs {
    flex-basis: calc(100% - 48vw);
    font-size: 1em;
  }
}

@media screen and (max-width: 425px) {
  .place__paragraphs {
    width: calc(100% - 7.5px * 2);
    min-width: 288px;
    margin: 0 auto;
  }
}
