.place__paragraphs {
  width: calc(100% - 40px - 460px);
  font-size: 1.125em;
  line-height: 1.63;
}

@media screen and (max-width: 1024px) {
  .place__paragraphs {
    width: calc(100% - 32px - 440px);
  }
}
@media screen and (max-width: 768px) {
  .place__paragraphs {
    width: calc(100% - 28px - 340px);
    font-size: 1em;
    line-height: 1.625;
  }
}
@media screen and (max-width: 425px) {
  .place__paragraphs {
    width: calc(100% - 32px);
    min-width: 288px;
    margin: 0 auto;
  }
}
