.place__paragraphs {
  width: calc(100% - 40px - 46.749%);
  font-size: 1.125em;
  line-height: 1.63;
}

@media screen and (max-width: 1024px) {
  /* от вертикального до горизонтального положения планшета */
  .place__paragraphs {
    width: calc(100% - 32px - 47.415%);
  }
}
@media screen and (max-width: 768px) {
  /* от большого смартфона до вертикального положения планшета */
  .place__paragraphs {
    width: calc(100% - 28px - 47.22%);
    font-size: 1em;
    line-height: 1.625;
  }
}
@media screen and (max-width: 320px) {
  /* мобильные устройства */
  .place__paragraphs {
    width: 95.05%;
    margin: 0 auto;
  }
}
