.lead__title {
  max-width: 720px;
  margin: 0 auto;
  font-size: 6em;
}

@media screen and (max-width: 320px) {
  /* мобильные устройства */
  .lead__title {
    max-width: 288px;
    font-size: 2.5em;
  }
}
