.place__paragraph {
  margin: 0 0 26px;
}

.place__paragraph:last-child {
  margin-bottom: 0;
}

@media screen and (max-width: 1023px) {
  /* мобильные устройства */
  .place__paragraph {
    margin-bottom: 25px;
  }
}
