.page__wide-container {
  max-width: 1184px;
  margin: 0 auto;
  outline: 1px solid yellow;
}

@media screen and (max-width: 1024px) {
  /* от вертикального до горизонтального положения планшета */
  .page__wide-container {
    max-width: 928px;
  }
}
@media screen and (max-width: 768px) {
  /* от большого смартфона до вертикального положения планшета */
  .page__wide-container {
    max-width: 720px;
  }
}
@media screen and (max-width: 425px) {
  /* мобильные устройства */
}
