@media screen and (max-width: 425px) {
  .item-responsive {
    position: relative; /* относительное позиционирование */
  }

  .item-responsive:before {
    display: block; /* отображать элемент как блок */
    content: ""; /* содержимое псевдоэлемента */
    width: 100%; /* ширина элемента */
  }

  .item-responsive > .cover {
    position: absolute; /* абсолютное положение элемент */
    /* положение элемента */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}
