.intro {
}

@media screen and (max-width: 768px) {
  /* от большого смартфона до вертикального положения планшета */
  .intro {
    max-width: 720px;
    margin: 0 auto;
  }
}
@media screen and (max-width: 320px) {
  /* мобильные устройства */
  .intro {
    max-width: 288px;
  }
}
