.header__lang-list {
  display: inline;
  padding-right: 18px;
  font-size: 1.5em;
}

.header__lang-list:last-child {
  padding-right: 0;
}

@media screen and (max-width: 320px) {
  /* мобильные устройства */
  .header__lang-list {
    font-size: 1.125em;
  }
}
