.lead__caption {
  text-align: left;
  text-transform: uppercase;
  margin: 8px 0 92px;
  font-size: 0.625em;
}

@media screen and (max-width: 768px) {
  /* от большого смартфона до вертикального положения планшета */
  .lead__caption {
    max-width: 720px;
    margin: 8px auto 88px;
  }
}
@media screen and (max-width: 320px) {
  /* мобильные устройства */
  .lead__caption {
    max-width: 288px;
    margin: 8px auto 64px;
  }
}
