.lead__caption {
  text-align: left;
  text-transform: uppercase;
  margin: 8px 0 92px;
  font-size: 0.625em;
  line-height: 1.4;
}

@media screen and (max-width: 1023px) {
  /* от большого смартфона до вертикального положения планшета */
  .lead__caption {
    margin: 8px auto 88px;
  }
}
@media screen and (max-width: 425px) {
  /* мобильные устройства */
  .lead__caption {
    margin: 8px auto 64px;
  }
}
