.cover__title {
  max-width: 560px;
  margin-block-start: 0;
  margin-block-end: 0;
  font-size: 4.5em;
  text-align: center;
  margin: 0 auto;
}

@media screen and (max-width: 767px) {
  /* мобильные устройства */
  .cover__title {
    font-size: 2em;
  }
}
