.footer {
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 1023px) {
  /* от большого смартфона до вертикального положения планшета */
  .footer {
    margin: 0 auto;
    width: 95.874%;
  }
}

@media screen and (max-width: 767px) {
  /* мобильные устройства */
  .footer {
    flex-direction: column;
    width: 95.05%;
    margin: 0 auto 24px;
  }
}
