.place__website {
  align-self: flex-end;
}

@media screen and (max-width: 1279px) {
  .place__website {
    flex-basis: calc(100% - 32px - 440px);
  }
}
@media screen and (max-width: 1023px) {
  .place__website {
    flex-basis: calc(100% - 28px - 340px);
  }
}

@media screen and (max-width: 767px) {
  .place__website {
    flex-basis: calc(100% - 48vw);
  }
}

@media screen and (max-width: 425px) {
  .place__website {
    width: calc(100% - 16px * 2);
    min-width: 288px;
    margin: 0 auto;
  }
}
