.intro__title {
  font-size: 3.375em;
  margin: 0 0 40px;
  font-weight: 900;
  line-height: 1.07;
}

@media screen and (max-width: 425px) {
  .intro__title {
    font-size: 2em;
    margin: 0 auto 40px;
    line-height: 1.09;
  }
}
